<launch>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find aa274_final_project)/rviz/systems_test.rviz"/>
    <node pkg="aa274_final_project" type="keyboard_teleop.py" name="keyboard_teleop" output="screen" />
    <node pkg="aa274_final_project" type="detector_viz.py" name="detector_viz" />
</launch>
